<div class="row mt-5">
  <div class="col">
    <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalCar" (click)="resetForm()">Novo Carro</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Ano</th>
          <th scope="col">Preço</th>
		  <th scope="col">Insento IPVA</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars; index as i">

          <th scope="row"> {{i+1}}</th>
          <td>{{car.marca}}</td>
          <td>{{car.modelo}}</td>
          <td>{{car.ano}}</td>
          <td>{{car.preco}}</td>          
		  <td>{{car.ano < 1999? 'Sim': 'Não'}}</td>      
          <td>
            <button class="btn btn-primary" (click)="onPreUpdateCar(car)" data-toggle="modal" data-target="#modalCar">Update</button>
          </td>
          <td>
            <a href="/admin/list-cars" class="btn btn-danger" (click)="onDeleteCar(car.id)">Delete</a>
          </td>
        </tr>

      </tbody>
    </table>
    
  </div>
</div>
